pip>=18
pillow>=10.1.0
pytest-cov>=4
black>=23
cfgv==3.4.0
click==8.1.7
coverage==7.6.1
distlib==0.3.8
filelock==3.16.1
identify==2.6.1
iniconfig==2.0.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==4.0.1
pytest==8.3.3
PyYAML==6.0.2
setuptools==75.6.0
setuptools-scm==8.1.0
typing_extensions==4.12.2
virtualenv==20.27.0
